PORT = 3000
TZ = Asia/Shanghai
NODE_ENV = development
JWT_SECRET = your_jwt_secret
CHAT_API_KEY = your_api_key
SEARCH_API_KEY = your_api_key
SEARCH_APP_ID = your_app_id
OSS_ACCESS_KEY_ID = your_ACCESS_KEY_ID
OSS_ACCESS_KEY_SECRET = your_ACCESS_KEY_SECRET
OSS_REGION = your_REGION
OSS_BUCKET_NAME = your_BUCKET_NAME
EMAIL_USER = your_username@163.com
EMAIL_PASS = your_authorization_code
REDIS_HOST = your_Redis_host
REDIS_PORT = your_Redis_port
REDIS_PASSWORD = your_Redis_password

# 数据库配置，仅对docker容器有效
DB_HOST=127.0.0.1
DB_PORT=3308
DB_USER=root
DB_PASSWORD=123456
DB_NAME=GEAgent_api_development
FORCE_DB_CONFIG=false  # 设置为true将在启动docker容器时强制更新数据库配置