PORT = 3000
TZ = 'Asia/Shanghai'
NODE_ENV = development
JWT_SECRET = your_jwt_secret
CHAT_API_KEY = your_api_key
SEARCH_API_KEY = your_api_key
SEARCH_APP_ID = your_app_id
OSS_ACCESS_KEY_ID = your_ACCESS_KEY_ID
OSS_ACCESS_KEY_SECRET = your_ACCESS_KEY_SECRET
OSS_REGION = your_REGION
OSS_BUCKET_NAME = your_BUCKET_NAME